[submodule "lib/APCpp"]
	path = lib/APCpp
	url = https://github.com/Sirius902/APCpp.git
	branch = main
[submodule "Archipelago-MM"]
	path = archipelago
	url = https://github.com/RecompRando/Archipelago-MM
